<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider android:name="net.pierrox.lightning_launcher.util.ApiProvider" android:authorities="net.pierrox.lightning_launcher_community.api"
            android:exported="true" />

        <activity
            android:name="net.pierrox.lightning_launcher.LWPSettings"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service
            android:name="net.pierrox.lightning_launcher.util.LightningLWPService"
            android:enabled="true"
            android:label="@string/lwp"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/lwp" >
            </meta-data>
        </service>

    </application>
</manifest>